
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../icon/iconfont.woff') format('woff'),
  url('../icon/iconfont.ttf') format('truetype'),
  url('../icon/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:20px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:#fff;
}
*{
	font-family: "Ping Fang","Microsoft Yahei";
	font-family: 600;
}
/*html,body{
	width: 100%;
	height: 100%;
}*/
.zhezhao{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	background:rgba(0,0,0,0.8);
	z-index:10;
	display: none;
}
/*头部开始*/
.header{
	width: 15rem;
	height: 2.4rem;
	background:#009DD7;
	position: fixed;
	left: 0;
	top:0;
	right: 0;
	z-index: 5;
}
.header-icon{
	text-align: center;
	line-height: 2.4rem;
	height: 2.4rem;
	color:#fff;
	float: left;

}
.header-list{
	width: 2.4rem;
	height: 2.4rem;
	float: left;
	line-height: 2.4rem;
}
.header-home{
	width: 2.4rem;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	float: left;
	font-size: 20px;
}
.header-fen{
	height: 2.4rem;
	line-height: 2.4rem;
	float: left;
	font-size: 20px;
}
.header-back{
	width: 2.4rem;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	float: left;
	font-size: 20px;
}
.header-more{
	width: 1.6rem;
	height: 2.4rem;
	float: right;
	line-height: 2.4rem;
}
.header-jia{
	width: 1rem;
	height:1rem;
	margin-top: 0.8rem;
	margin-right: 0.4rem;
	float: right;
	font-size: 18px;
	text-align: center;
	line-height: 0.9rem;
	border:2px solid #fff;
	border-radius: 50%;
	color:#fff;
}
.icon-right{
	float: right;
	margin-right: 0.6rem;
}
.header-share{
	width: 2rem;
}
.header-shou{
	width: 2rem;
}
.header-shou.active{
	color:#FFE553;
}
.num-icon{
	float: left;
	width: 2.4rem;
}
.header-lun,.header-zan{
	width: 1.4rem;
}
.header-zan.active{
	color:#FF7031;
}
.content-outer{
	padding-top:2.4rem;
	z-index: -1;
}
.icon-num{
	width:0.72rem;
	height: 2.4rem;
	line-height: 2.4rem;
	color:#fff;
	float: left;

}
/*banner*/
.banner-box{
	width:15rem;
	height:9.6rem;
	background:#999;
	position: relative;
}
.batitle{
	position: absolute;;
	left: 0;
	top:6.5rem;
	font-size: 20px;
	font-weight: 400;
	color:#fff;
	padding-left:0.8rem;
	box-sizing:border-box;  
	width: 100%;
	height: 2rem;
	line-height: 1.2rem;
}
.showtitle{
	top:6rem;
}
.swiper-container{
	width:15rem;
	height:9.6rem;
}
.swiper-container .swiper-pagination{
	text-align:center;
	right:0.1rem;
	bottom: 0.2rem;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet{
	margin-left:0;
	margin-right:0.2rem;
	background:#888;
	opacity: 1;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active{
	background:#fff;
}

.swiper-container a{
	width:100%;
	height:100%;
	display: block;
}
.swiper-container a img{
	width:100%;
}
.image-title{
	position: absolute;;
	left: 0;
	bottom: 1rem;
	font-size: 18px;
	font-weight: 400;
	color:#fff;
	padding-left:0.8rem;
	box-sizing:border-box;  
	width: 100%;
	height: 2rem;
	line-height: 1.2rem;
}

/*内容部分*/
.content-header{
	width: 15rem;
	height: 1.8rem;
	font-size: 16px;
	text-indent: 1rem;
	padding-top: 0.6rem;
}
section{
	background:#F9F9F9;
}
.content-inner{
	width: 14.72rem;
	margin:0 auto;
	overflow: hidden;
}

/*内容部分*/

a{
	text-decoration: none;
	color:#666;
}
.box{
	width:13.2rem;
	height: 3.2rem;
	padding:0.5rem;
	background:#fff;
	margin:0 auto;
	margin-bottom: 0.6rem;
	border-radius: 5px;
	box-shadow: 0 0 5px #E1E1E1;
}
.box .img{
	width: 3.48rem;
	height: 3.2rem;
	overflow: hidden;
	float: right;
}
.box .img img{
	height: 3.2rem;
	width: 3.48rem;
}
.box span{
	width: 9rem;
	float: left;
	height: 100%;
	color:#000;
	font-size: 17px;
	font-weight: 400;
	/*font-family: "Microsoft Yahei";*/
	line-height: 1.2rem;
}
.top-img {
	height: 8.72rem;
	overflow: hidden;
	position: relative;
}
.top-img img{
    width: 100%;
}
footer{
	width: 15rem;
	height: 0.6rem;
	background:transparent;
}
.aside{
	width: 12.8rem;
	height:26.68rem;
	overflow-y:auto;
	position: fixed;
	z-index: 20;
	left: 0;
	top:0;
	display: none;
	transition:all 0.5s ease;
}
.aside-active{
	left: 0;
	display: block;
}
.aside-top{
	height: 4.72rem;
	width: 100%;
	background:#009DD7;
}
.aside-login{
	width: 100%;
	height:2.6rem;
	/*font-family: "Microsoft Yahei";*/
}
.aside-load{
	width: 100%;
	height: 2.12rem;
}
.login-image{
	width: 2.8rem;
	height: 100%;
	float: left;
}
.login-title{
	width: 2.4rem;
	height: 100%;
	color:#fff;
	float: left;
	line-height: 2.6rem;
}
.load-box{
	width: 6.4rem;
	line-height: 2.12rem;
	float: left;
}
.load-icon{
    width: 2.8rem;
    height: 2.12rem;
    float: left;
    line-height: 2.12rem;
}
.load-title{
	width: 3.4rem;
	height: 2.12rem;
    float: left;
    line-height: 2.12rem;
    color:#fff;
}
.image-tou{
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	margin-left: 0.6rem;
	margin-top: 0.4rem;
	overflow: hidden;
}
.image-tou img{
	height: 1.6rem;
	margin-left: -10px;
}
.aside-home{
	height: 2.12rem;
	width: 100%;
	background:#F0F0F0;
}
.home-icon{
	width: 2.2rem;
	height: 100%;
	float: left;
	line-height: 2.12rem;
	margin-left: .6rem;
	color:#00A2ED;
}
.home-title{
	width: 4rem;
	height: 2.12rem;
	float: left;
	line-height: 2.12rem;
	color:#00A2ED;
}
/*列表内容*/
.aside-content{
	width: 100%;
	background:#fff;
}
.aside-content{
	width: 100%;
	overflow: hidden;
}
.item-title{
	width: 7rem;
	height: 2rem;
    line-height: 2rem;
    float: left;
    margin-left: 0.8rem;
}
.item-title a{
	color:#000;
}
.aside-add{
	width: 1.2rem;
	height: 2rem;
	line-height: 2rem;
	color:#CCC;
	float: right;
	margin-right: 2rem;
	font-size: 14px;
}
/*首页*/
.setting{
	position: absolute;
	width: 8.4rem;
	height:4rem;
	background:#fafafa;
	right: 0.4rem;
	top:0.4rem;
	box-shadow: 0 0 5px #797168;
	z-index: 9;
}
.set-inner{
	width: 100%;
	height: 2rem;
	text-indent:0.8rem;
	line-height: 2rem;
	color:#000; 
	z-index: 9;
}
.trans{
	width: 100%;
	height: 100%;
	z-index: 7;
	position: absolute;
	left:0;
	top:0;
}
.new-content{
	width: 100%;
	height: 100%;
	line-height: 22rem;
	text-align:center;
	color:#E4E4E4;
}
/*主编*/
.left-editor{
	width: 80%;
	height: 100%;
	box-sizing:border-box;
	margin-left: 2.8rem;
	overflow: hidden;
	float: left;
	margin-top: -1.12rem;
}
.editor{
	width: 1.4rem;
	height: 1.4rem;
	float: left;
	border-radius: 50%;
	margin-right: 0.56rem;
}
.share-box{
	width: 13.44rem;
	height: 16rem;
	position: relative;
	background:#F5F5F5;
	top:5.2rem;
	left: 1rem;
	display: none;
	z-index: 11;
}
.share-title{
    width: 100%;
    height: 2.8rem;
    text-indent: 0.8rem;
    border-bottom:2px solid #33B5E5;
    color: #33B5E5;
    line-height: 2.8rem;
} 
.share-item{
    width: 4rem;
    height: 4rem;
    float: left;
} 
.share-img{
	width: 2.4rem;
	height: 2.4rem;
	margin:0.8rem;
}
.share-mess{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	color:#828282;
}
.comment-item{
	width: 100%;
	border-bottom: 1px solid #E5E5E5;
	height: auto;
}
.comment-top{
	width: 100%;
	height: 2rem;
}
.comment-user{
	margin-left: 0.8rem;
	width: 1.6rem;
	height: 1.6rem;
    float: left;
    border-radius: 50%;
    margin-top: 0.1rem;
}
.user-name{
	width: auto;
	height: 2rem;
	line-height: 2rem;
	margin-left: 0.2rem;
	float: left;
}
.comment-bottom{
	width: 100%;
	box-sizing:border-box;
	padding-left: 2.2rem;
	padding-right: 1rem;
	color:#343434;
	font-size: 14px;
	line-height: 1rem;
}
.headline{
	display: none;
}