* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
* {
  font-family: 'SFNSText', 'Helvetica Neue', 'Microsoft YaHei', sans-serif;
}
.container {
  height: 100%;
}
.container .lside {
  min-width: 280px;
  width: 28.5%;
  height: 100%;
  background: #383836;
  float: left;
  position: relative;
}
.container .rside {
  height: 100%;
  overflow: hidden;
  background: coral;
  background: url("../img/2.png") 0 0 repeat;
}
/*************** 左侧开始 ****************/
.lside-top {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #1a1a1a;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
.lside-top .logo-box {
  width: 167px;
  height: 44px;
  float: left;
  margin-left: 14px;
}
.lside-top .logo-box .logo {
  display: block;
  width: 56px;
  height: 16px;
  background: url("../img/1.png") 0 -588px no-repeat;
  margin-top: 15px;
}
.lside-top .add {
  display: block;
  width: 23px;
  height: 23px;
  float: right;
  margin-top: 11px;
  margin-right: 14px;
  background: url("../img/1.png") -46px -526px no-repeat;
}
.lside-top .add:hover {
  background: url("../img/1.png") -92px -526px no-repeat;
}
.listbox {
  width: 100%;
  box-sizing: border-box;
  padding-left: 4px;
  overflow: hidden;
  margin-top: 45px;
  overflow: auto;
}
.listbox .list {
  width: 100%;
  height: 44px;
}
.listbox .list .circle {
  width: 17px;
  height: 17px;
  background: #5FD836;
  border-radius: 50%;
  margin: 12px 0 0 12px;
  float: left;
  display: inline;
}
.listbox .list p {
  overflow: hidden;
  height: 100%;
  margin-left: 44px;
  font-size: 17px;
  line-height: 40px;
  color: #fff;
  border-top: 1px solid #3E3E3C;
  border-bottom: 1px solid #2A2A28;
  box-sizing: border-box;
}
/*************** 右侧内容开始 ****************/
.rsdie-top {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #D0D0D0;
  position: relative;
}
.rsdie-top .search {
  width: 480px;
  height: 44px;
  float: left;
  box-sizing: border-box;
  background: transparent;
  padding-left: 45px;
  font-size: 19px;
  color: #A9A9A9;
}
.rsdie-top .search:focus {
  background: #fff;
  border-right: 1px solid #D6D6D6;
}
.rsdie-top .icon {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 3px;
  top: 2px;
}
.rsdie-top .icon i {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/1.png") -139px -359px no-repeat;
  margin: 10px 0 0 12px;
}
.rside-tit {
  width: 100%;
  height: 56px;
  margin-left: 28px;
  margin-top: 25px;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}
.rside-tit h3 {
  font-size: 40px;
  font-weight: normal;
  color: #1BADF8;
  line-height: 56px;
  margin-bottom: 4px;
}
.rside-tit .select {
  position: absolute;
  right: 63px;
  top: 17px;
}
.rside-tit .select a {
  font-size: 19px;
  line-height: 29px;
  color: coral;
}
.rside-tit .select .check-box {
  width: 355px;
  height: 226px;
  padding: 4px;
  background: #fff;
  position: absolute;
  right: 40px;
  top: -78px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.rside-tit .select .check {
  width: 100%;
  height: 100%;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 5px;
}
.rside-tit .select .check .shuru {
  display: block;
  width: 312px;
  height: 40px;
  border: 1px solid #d9d9d9;
  margin: 17px auto;
  font-size: 25px;
  color: #b14bc9 ;
  padding-left: 10px;
  box-sizing: border-box;
}
.down {
  width: 100%;
  height: 52px;
  margin-left: 28px;
  box-sizing: border-box;
}
.down .down-num {
  color: #999;
  font-size: 19px;
  line-height: 52px;
  margin-left: 52px;
  border-bottom: 1px solid #E0E0E0;
}
.down .down-num span {
  margin-right: 4px;
}
