{template "content","uek_nav"}
{template "content","uek_inside_banner"}
<link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/xjn_xwzx.css" />
<link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/xjn_kcjs.css" />
<div class="xjn-container">
        <!-- ************* 内页公共样式左边开始 ******************** -->
        <!-- 面包屑导航开始 -->
        <div class="xjn-mbxnav">
            <a href="{siteurl($siteid)}" class='xjn-home'>首页</a>
            <span>&gt;</span>
            <a href="{$CATEGORYS[9][url]}" class='xjn-category'>课程体系 <!-- {$CATEGORYS[9][catname]} --></a>
        </div><!-- 面包屑导航结束 -->

        <div class="xjn-content">
        {template  "content","side_kcsz_nav"}
             <!-- ****************** 右边内容开始 ******************* -->
    <div class="xjn-rside">
        <!-- ************** 学习阶段开始 *************** -->
        <div class="xjn-step">
            <div class="xjn-step-box">
                <span class="xjn-step-num">01</span>
                <h3 class="xjn-step-tit">软｜件｜阶｜段</h3>
                <!-- 学习阶段内容开始 -->
                <div class="xjn-step-con">
                    <div class="xjn-conl"></div>
                    <div class="xjn-conr">
                        <p class="xjn-info xjn-ph">了解AI软件的基本功能及适用范围，区分AI软件与PS软件，一个是矢量
       软件，一个是位图软件，让学员学会灵活交替运用两款软件绘制设计图;</p>
                        <p class="xjn-info">学完此阶段可解决的现实问题</p>
                        <p class="xjn-info xjn-text">
                            1、将各类视觉技法应用到实际商业案例之中，<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;并初步涉及后期技术实现的知识;<br />2、用户习惯分析、未来发展趋势与应用范围;<br />3、 在技术允许的范围内如何进行视觉突破;<br />4、公司项目大概流程与分工(角色扮演);<br />5、增加UI设计中的交互应用，更好的研究用户体验需求。
                        </p>
                    </div>
                </div> <!-- 学习阶段内容结束 -->
                <!-- 阶段底部 -->
                <div class="xjn-step-bot">
                    <p class="xjn-text xjn-gray">学完此阶段可拥有的市场价值</p>
                    <p class="xjn-text">熟练掌握和学习后，可满足设计行业的初级需求，根据市场反馈数据看，就业面广，薪资普遍较高</p>
                </div><!-- 阶段底部 -->
            </div>
            <!-- 箭头 -->
            <div class="xjn-jiantou">
                    <img src="{IMG_PATH}uek/images/xjn_img/xjn-jiantou.png" alt="" />
            </div>
        </div><!-- ************** 学习阶段结束 *************** -->
        <!-- ************** 学习阶段开始 *************** -->
        <div class="xjn-step">
            <div class="xjn-step-box">
                <span class="xjn-step-num">02</span>
                <h3 class="xjn-step-tit">平｜面｜阶｜段</h3>
                <!-- 学习阶段内容开始 -->
                <div class="xjn-step-con">
                    <div class="xjn-conl" style="width:235px;height:180px;"></div>
                    <div class="xjn-conr">
                        <p class="xjn-info xjn-ph">平面广告设计，通过基础知识的完全掌握，开始针对实际案例需求进行设计训练以设计理论为基础，以项目实战为核心，学完能够轻松搞定<br />名片设计、海报设计、户外广告设计、DM单页设计、折页设计、画册设<br />计，手提袋设计以及企业视觉识别VI设计等。</p>
                        <p class="xjn-info">平面设计作品辅导</p>
                        <p class="xjn-info xjn-text">实战工作经验分享，工作经验分享、课程总结，学员分组完<br />
       成实战工作项目，老师分组进行辅导;
                        </p>
                    </div>
                </div> <!-- 学习阶段内容结束 -->
            </div>
            <!-- 箭头 -->
            <div class="xjn-jiantou">
                    <img src="{IMG_PATH}uek/images/xjn_img/xjn-jiantou.png" alt="" />
            </div>
        </div><!-- ************** 学习阶段结束 *************** -->
        <!-- ************** 学习阶段开始 *************** -->
        <div class="xjn-step">
            <div class="xjn-step-box">
                <span class="xjn-step-num">03</span>
                <h3 class="xjn-step-tit">网｜页｜版｜式｜设｜计</h3>
                <!-- 学习阶段内容开始 -->
                <div class="xjn-step-con">
                    <div class="xjn-conl"></div>
                    <div class="xjn-conr">
                        <p class="xjn-info xjn-ph">　　什么是网页设计，网页设计及网页设计师的发展方向，学习基础WEB设 
       计、web设计规范学习页面配色及排版设计，掌握配色技巧及常用搭
       配，了解色彩心理学，分析色彩及构成，了解黄金分割点，掌握优秀的
       排版比例，并将这些运用到实际的案例当中;</p>
                        <p class="xjn-info">学完此阶段可收获的知识</p>
                        <pre class="xjn-text-list">1、项目分析法                               2、企业官网实战<br />3、个性化网站的实战演示              4、专题设计<br />5、html5响应式网页设计               6、网页设计实训<br />7、工作经验分享</pre>
                    </div>
                </div> <!-- 学习阶段内容结束 -->
            </div>
            <!-- 箭头 -->
            <div class="xjn-jiantou">
                   <img src="{IMG_PATH}uek/images/xjn_img/xjn-jiantou.png" alt="" />
            </div>
        </div><!-- ************** 学习阶段结束 *************** -->

        <!-- ************** 学习阶段开始 *************** -->
        <div class="xjn-step">
            <div class="xjn-step-box">
                <span class="xjn-step-num">04</span>
                <h3 class="xjn-step-tit">电｜商｜广｜告｜设｜计｜创｜意</h3>
                <!-- 学习阶段内容开始 -->
                <div class="xjn-step-con">
                    <div class="xjn-conl"></div>
                    <div class="xjn-conr">
                        <p class="xjn-info xjn-ph xjn-special">课程学习电商网基础知识，从构图美学、黄金法则、色彩搭配、产品打造、文字设计，让你的创意广告与众不同。</p>
                        <p class="xjn-info">学完此阶段可收获的知识</p>
                        <pre class="xjn-text-list">1、形式美法则                     6、店招设计<br />2、WEB元素设计                 7‘海报设计<br />3、商业构图                         8、促销区设计+产品展示区设计<br />4、字体设计<br />5、淘宝、天猫店铺设计特点与规范</pre>
                    </div>
                </div> <!-- 学习阶段内容结束 -->
            </div>
            <!-- 箭头 -->
            <div class="xjn-jiantou">
                   <img src="{IMG_PATH}uek/images/xjn_img/xjn-jiantou.png" alt="" />
            </div>
        </div><!-- ************** 学习阶段结束 *************** -->

        <!-- ************** 学习阶段开始 *************** -->
        <div class="xjn-step">
            <div class="xjn-step-box">
                <span class="xjn-step-num">05</span>
                <h3 class="xjn-step-tit">UI｜设｜计</h3>
                <!-- 学习阶段内容开始 -->
                <div class="xjn-step-con">
                    <div class="xjn-conl"></div>
                    <div class="xjn-conr">
                        <p class="xjn-info xjn-ph">课程主要讲解UI界面设计，以设计理论为基础，项目实战为核心，学完轻松搞定各种图标绘制、手机主题设计、APP实战项目、多媒体终端界面设计、智能穿戴设备界面设计、用户体验设计与交互设计 。</p>
                        <p class="xjn-info">学完此阶段可收获的知识</p>
                        <pre class="xjn-text-list">(1)熟悉UI发展趋势与人机交互理论，从战略角度分析一个互联网项目
盈利点、运营模式、产品原型、交互设计、用户体验、视觉表现;
(2)手机UI图标                             (9)安卓版APP设计                             
(3)写实图标绘制                          (10)PC端软件界面设计
(4)扁平化图标发展及未来趋势;     (11)AxureRP交互原型绘制工具使用          
(5)IOS9图标绘制技巧                   (12)多媒体终端设计
(6)手机主题图标设计                    (13)智能穿戴设计                       
(7)手机插件设计                           (14)APP项目实训
(8)IOS版APP设计                         (15)UI动效设计</pre>
                    </div>
                </div> <!-- 学习阶段内容结束 -->
            </div>
        </div><!-- ************** 学习阶段结束 *************** -->
    </div>
             
        </div>
    </div>

    
{template "content","uek_footer"}
</body>
</html>