{template "content","uek_nav"}
{template "content","uek_inside_banner"}
<link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/xjn_xwzx.css" />
<link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/ljg_gywm.css" />

    <div class="xjn-container">
        <!-- ************* 内页公共样式左边开始 ******************** -->
        <!-- 面包屑导航开始 -->
        <div class="xjn-mbxnav">
            <a href="{siteurl($siteid)}" class='xjn-home'>首页</a>
            <span>&gt;</span>
            <a href="{$CATEGORYS[14][url]}" class='xjn-home'>{$CATEGORYS[14][catname]}</a>
            <span>&gt;</span>
            <a href="javascript:;" class='xjn-category'>{$CATEGORYS[$catid][catname]}</a>
        </div><!-- 面包屑导航结束 -->
  
        <div class="xjn-content">
            {template "content","side_gywm_nav_2"}
             <!-- **********  新闻资讯内容右侧开始 ************** -->
             <div class="xjn-newcon">
                <h3 class="xjn-newstitle">{$CATEGORYS[$catid][catname]}</h3>
                <!--**** 右侧内容开始 ******-->
                <div class="xjn-content">
                    <div style="width:814px;height:500px;border:#ccc solid 1px;font-size:12px" id="map"></div>
                </div>
              </div>
        </div>
    </div> 
{template "content","uek_footer"}
</body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uhXEOUA0BHAXXBfaujxqZaHHdExmdcQa"></script>
<script src="{JS_PATH}uek/js/xjn_map.js"></script>
<script src="{JS_PATH}uek/js/xjn_xwzx.js"></script>
</html>