    {template "content","uek_nav"}
    {template "content","uek_inside_banner"}
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/xyz_qd.css" />
    <link rel="stylesheet" href="{CSS_PATH}uek/css/ld_kcap.css">
    <link rel="stylesheet" href="{CSS_PATH}uek/css/ld_phpkcap.css">
    <!-- ***************** 前端工程师 ************* -->
    <div class="xyz-front">
        <div class="xyz-front-containter">
            <!-- uek logo -->
            <div class="xyz-uek-logo">
                <img src="{IMG_PATH}uek/images/xyz_img/logo.png" alt="" />
            </div>
            <!-- ******* 标题 ****** -->
            <div class="xyz-article-title">
                <h2><span>the</span>Film and television performances</h2>
                <h4>
                    <span>影</span>
                    <span class="xyz-line"></span>
                    <span>视</span>
                    <span class="xyz-line"></span>
                    <span>表</span>
                    <span class="xyz-line"></span>
                    <span>演</span>
                </h4>
                <div class="xyz-close">
                    <img src="{IMG_PATH}uek/images/xyz_img/close.png" alt="" />
                </div>
            </div>
            <div class="xyz-content">
                <p class="xyz-p1">影视表演是通过人的演唱、演奏或人体动作<br/>表情来塑造形象、传达情绪、情感从而表现生活的艺术</p>
                <h2>影视表演表现生活的艺术</h2>
                <p class="xyz-p3">包括影视导演、戏剧影视文学、广播电视编导、公共<br/>事业管理、播音主持、影视表演、摄像摄影等多种专业。主要面向电视台、广播电台、电影电视制作机构<br/>报刊杂志社等各种影视传媒部门单位培养优秀的专业人才</p>
                <h2>这个岗位是艺考竞争中最火的，摄影人才奇缺</h2>
                <p>这种严重供不应求的局面在</p>
                <h2>各种影视传媒部门优秀的专业人才</h2>
                <p>本专业培养具有比较系统的文化修养和理论、全面的<br/>文学艺术素质、广博的影视专业知识、具有创造能力和善于协同合作能力，能胜任电影<br/>电视多种类型角色的表演的专门人才</p>
            </div>
        </div>
    </div><!--********** 前端工程师结束 ************-->
    <!-- *************** UI就业薪资 开始 *********** -->
    <div class="xyz-jyxz">
        <!-- 上下阴影 -->
        <div class="ld-boxshadowdown"></div>
        <div class="ld-boxshadowup"></div>
        
        <div class="xyz-jyxz-containt">
            <!-- 标题 -->
            <div class="xyz-title">
                <h1><span>FILM</span>学员成绩</h1>
                <h2>students<span>record</span> </h2>
            </div>
            <!-- 薪资比例展示 -->
            <div class="xyz-salary">
                <div class="xyz-salary-img"></div>
                <p>(学员成绩比例展示)</p>
            </div>
            <!-- 统计投票 -->
            <div class="xyz-vote">
                <div class="xyz-pay">
                    <span class='xyz-pay-num'>400</span>
                    <span class='xyz-pay-uint'>高分</span>
                </div>
                <p>近一年78710份样本/可信度：高</p>
                <ul class="xyz-select">
                    <h2>你觉得该统计数字准确吗？</h2>
                    <li>偏低</li>
                    <li class="xyz-btn-center">靠谱</li>
                    <li>偏高</li>
                </ul>
                <ul class="xyz-ticket">
                    <li>52票 (37%)</li>
                    <li class="xyz-btn-center">21票 (15%)</li>
                    <li class="xyz-ticket-last">69票 (49%)</li>
                </ul>
            </div><!--*********** 统计投票结束 *******-->
        </div>
    </div><!--*********** UI就业薪资 结束*************-->

    <!--*********** UI就业岗位 开始*************-->
    <div class="xyz-jobs">
        <div class="xyz-jobs-contain">
            <!-- 标题 -->
            <div class="xyz-title">
                <h1><span>FILM</span>艺考方向</h1>
                <h2>Occupational<span>Direction</span> </h2>
            </div>
            <!-- 内容 -->
            <div class="xyz-jobs-content">
                <!-- 左侧 -->
                <ul class="xyz-job-left">
                    <li>
                        <div class="xyz-job-icon"><img src="{IMG_PATH}uek/images/xyz_img/jb1.png" alt="" /></div>
                        <div class="xyz-job-content">
                            <div class="xyz-fontb"><p>报刊、杂志</p></div>
                            <div class="xyz-fonts"><p>newspapers and magazines</p></div>
                        </div>  
                    </li>
                    <li class="xyz-jobm">
                        <div class="xyz-job-icon"><img src="{IMG_PATH}uek/images/xyz_img/jb2.png" alt="" /></div>
                        <div class="xyz-job-content">
                            <div class="xyz-fontb"><p>出版社、电台</p></div>
                            <div class="xyz-fonts"><p>Press the radio</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="xyz-job-icon"><img src="{IMG_PATH}uek/images/xyz_img/jb3.png" alt="" /></div>
                        <div class="xyz-job-content">
                            <div class="xyz-fontb"><p>电视台、电影制作部门</p></div>
                            <div class="xyz-fonts"><p>Television film production department</p></div>
                        </div>
                    </li>
                </ul>
                <!-- 中间 -->
                <div class="xyz-job-middle"><img src="{IMG_PATH}uek/images/xyz_img/jb.png" alt="" /></div>
                <!-- 右侧 -->
                <ul class="xyz-job-right">
                    <li>
                        <div class="xyz-job-ricon"><img src="{IMG_PATH}uek/images/xyz_img/jb1.png" alt="" /></div>
                        <div class="xyz-job-rcontent">
                            <div class="xyz-rfontb">记者、主持</div>
                            <div class="xyz-rfonts">journalist-anchorperson</div>
                        </div>
                    </li>
                    <li class="xyz-job-rm">
                        <div class="xyz-job-ricon"><img src="{IMG_PATH}uek/images/xyz_img/jb2.png" alt="" /></div>
                        <div class="xyz-job-rcontent">
                            <div class="xyz-rfontb">策划或行政主管</div>
                            <div class="xyz-rfonts">Planning and administration</div>
                        </div>
                    </li>
                    <li>
                        <div class="xyz-job-ricon"><img src="{IMG_PATH}uek/images/xyz_img/jb3.png" alt="" /></div>
                        <div class="xyz-job-rcontent">
                            <div class="xyz-rfontb">业务主管以及编辑</div>
                            <div class="xyz-rfonts">Business executives and editing</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--*********** UI就业岗位 结束*************-->

    <!-- **********************php课程安排开始******************** -->
    <div class="ld-kcdi">
        <div class="ld-boxshadowdown"></div>
        <div class="ld-boxshadowup"></div>
        <div class="ld-kccon">
            <!-- <div class="ld-lcleft"></div> -->
            <!-- 标题 -->
            <div class="xyz-title">
            <h1><span>FILM</span>教学内容</h1>
                <h2>Teaching<span>contents</span> </h2>
            </div>
            <div class="ld-lcright-di">
                <ul class="ld-lcright">
                    <li>
                        <div class="ld-left-tit">
                            <span class="ld-tit-dot"></span><span class="ld-tit-num"></span><span class="ld-tit-wenzi"> 学习内容</span>
                        </div>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-lc-rinner">
                            <p>全面应对各省影视表演专业联考及各高校表演专业考试</p>
                        </div>
                    </li>
                    <li>
                        <div class="ld-left-tit">
                            <span class="ld-tit-dot"></span><span class="ld-tit-num"></span><span class="ld-tit-wenzi"> 影视分析<br/>PHP语言核心</span>
                        </div>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-lc-rinner">
                            <p>电视栏目分析、电影片段分析、材料作文、记录片分析、摄影</p>
                        </div>
                    </li>
                    <li>
                        <div class="ld-left-tit">
                            <span class="ld-tit-dot"></span><span class="ld-tit-num"></span><span class="ld-tit-wenzi"> 散文创作</span>
                        </div>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-lc-rinner">
                            <p>电影故事创作、编讲故事、叙事散文创作</p>
                        </div>
                    </li>
                    <li>
                        <div class="ld-left-tit">
                            <span class="ld-tit-dot"></span><span class="ld-tit-num"></span><span class="ld-tit-wenzi"> 面试技巧</span>
                        </div>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-lc-rinner">
                            <p>自我介绍、才艺展示、各院校应考分析、广告创意、编写故事</p>
                        </div>
                    </li>
                    <li>
                        <div class="ld-left-tit">
                            <span class="ld-tit-dot"></span><span class="ld-tit-num"></span><span class="ld-tit-wenzi"> 文艺常识</span>
                        </div>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-lc-rinner">
                            <p>文学影视常识、文学作品分析</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- **********************课程安排结束******************** -->

    <!-- **********************免费试学开始******************** -->
    <div class="ld-mfdi">
        <div class="ld-mf">
            <ul class="ld-mfcon">
                <li>
                    <img src="{IMG_PATH}uek/images/ld_images/ld-item04.png" height="199" width="199" alt="" />
                    <b>免费试学</b>
                </li>
                <li>
                    <img src="{IMG_PATH}uek/images/ld_images/ld-item03.png" height="199" width="199" alt="" />
                    <b>0元入学</b>
                </li>
                <li>
                    <img src="{IMG_PATH}uek/images/ld_images/ld-item02.png" height="199" width="199" alt="" />
                    <b>免费体验</b>
                </li>
                <li>
                    <img src="{IMG_PATH}uek/images/ld_images/ld-item01.png" height="199" width="199" alt="" />
                    <b>艺考服务</b>
                </li>
            </ul>
        </div>
    </div><!-- **********************免费试学结束******************** -->
    
    <!-- **********************姓名开始******************** -->
    <div class="ldname-di">
        <div class="ld-boxshadowdown"></div>
        <div class="ld-boxshadowup"></div>
        <div class="ldname-con">
            <ul class="ldname-line">
                {pc:content action="position" posid="24" num="6" order="listorder ASC"}
                {loop $data $v}
                <li></li>
                {/loop}
                {/pc}
            </ul>
            <table class="ld-namebox">
                <tr>
                    <th class="ld-trfir">姓名</th>
                    <th class="ld-trfir">分数</th>
                    <th class="ld-trsec">专业</th>
                    <th class="ld-trsec">艺考学校</th>
                </tr>
                {pc:content action="position" posid="24" num="6" order="listorder ASC"}
                {loop $data $v}
                <tr>
                    <td class="ld-trfir">{$v[name]}</td>
                    <td class="ld-trfir">{$v[grade]}</td>
                    <td class="ld-trsec">{$v[major]}</td>
                    <td class="ld-trsec">{$v[school]}</td>
                </tr>
                {/loop}
                {/pc}
            </table>
        </div>
    </div><!-- **********************姓名结束******************** -->

    <!-- **********************报名开始******************** -->
    <div class="ld-baoming-di">
        <ul class="ld-baoming-con">
            {pc:content action="lists" num="3" catid="18" moreinfo="1"}
            {php $kx=0}
            {loop $data $ld}
            {php $kx++}
            <li class="ld-baoming-lis">
                <div class="ld-bm-top">
                    <div class="ld-blueball">
                        <img src="{IMG_PATH}uek/images/ld_images/ld-wave-border.png" alt="" class="ld-wave-border" />
                        <img src="{IMG_PATH}uek/images/ld_images/ld-wave.png" alt="" class="ld-wave" />
                        <h1 class="ld-blue-num"><span></span>%</h1>
                        <h1 class="ld-baoming">火热报名中</h1>
                    </div>
                </div>
                <h2>{$ld[title]}</h2>
                <div class="bm-middle">
                    <div class="ld-bm-left">
                        <h3>培训流程</h3>
                        <ul class="ld-bm-btm">
                            <li>周末兴趣班</li>
                            <li>周末基础班</li>
                            <li>集训班</li>
                            <li>全程班</li>
                            <li>精英班</li>
                        </ul>
                    </div>
                    <div class="ld-bm-rightbox">
                        <ul class="ld-bm-right">
                            <li>
                                <h3><span class="ld-bm-titspan"></span>赠送课程</h3><p>{$ld[kecheng]}</p>
                            </li>
                            <li>
                                <h3><span class="ld-bm-titspan"></span>开班时间</h3><p>{$ld[kbtime]}</p>
                            </li>
                            <li class="ld-daojishi">
                                <h3><span class="ld-bm-titspan"></span>开班倒计时</h3>
                                <p><span class="lyn-djss"></span>天<span class="lyn-djss"></span>时<span class="lyn-djss"></span>分<span class="lyn-djss"></span>秒</p>
                                {if $kx==1}
                                    <script type="text/javascript">
                                    var str1="{$ld[kbtime]}";
                                    var str11="{$ld[ksbm_time]}";
                                    </script>
                                {elseif $kx==2}
                                    <script type="text/javascript">
                                    var str2="{$ld[kbtime]}";
                                    var str22="{$ld[ksbm_time]}";
                                    </script>
                                {elseif $kx==3}
                                    <script type="text/javascript">
                                    var str3="{$ld[kbtime]}";
                                    var str33="{$ld[ksbm_time]}";
                                    </script>
                                {/if}
                            </li>                           
                        </ul>
                    </div>
                </div>
                <div class="ld-bm-btn"><a href="javascript:;">立即报名</a></div>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div><!-- **********************报名结束******************** -->
    {template "content","uek_footer"}
    <script src="{JS_PATH}uek/js/jquery.min.js"></script>
    <script src="{JS_PATH}uek/js/ld_phpkcap.js"></script>