
    {template "content","uek_nav"}
    {template "content","uek_inside_banner"}
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/xyz_qd.css" />
    <link rel="stylesheet" href="{CSS_PATH}uek/css/ly_ketx_kbsj.css"/>
    <link rel="stylesheet" href="{CSS_PATH}uek/css/ld_kcap.css">



<!--***************内容*****************-->
    <div class="ly-container">
    <!-- ***********面包屑导航************* -->
        <div class="ly-navagation-box">
            <ul class="ly-navnavagation">
                <li class="ly-con"><a href="{siteurl($siteid)}">首页</a></li>
                <li class="ly-con"><span>&gt;</span></li>
                <li class="ly-con ly-con-active"><a href="javascript:;">{$CATEGORYS[$top_parentid][catname]}</a></li>
            </ul>
        </div>
    <!-- ***********左侧L型导航  l************* -->
        <div class="ly-nav-l">
            <!-- 头部 t-->
            <div class="ly-nav-lt">
                <div class="ly-nav-lt-en"><strong>CURRICULUM</strong> <span>SYSTEM</span></div>
                <div class="ly-nav-lt-cn"><strong>课程</strong><span>体系</span></div>
            </div>
            <!-- 装饰线 -->
            <div class="ly-nav-l-line"></div>
            <!-- 内容区 -->
            <div class="ly-nav-l-con-box">
            {pc:content action="category" catid="$top_parentid" moreinfo="1"}
            {loop $data $v}
                <div class="ly-nav-l-con-lis">
                    <h1 class="ly-nav-l-con-caption">
                       <span>·</span>
                        <a href="{$v[url]}" {if $catid==$v[catid]}style="color:#01B5FF;"{/if}>{$v[catname]}</a>
                    </h1>
                </div>
            {/loop}
            {/pc}
            </div>
        </div>
    <!-- ***********右侧内容区  con************* -->
        <div class="ly-right-box">
            {pc:content action="lists" catid="$catid" moreinfo="1"}
            {php $i=0}
            <ul class="ly-class-box">
            {loop $data $v}
                <li {if $i%2!=0}class="ly-class"{else}class="ly-class  ly-class-nopre"{/if}>
                    <!-- 标题-->
                   <!--  <div class="ly-class-title">UI<span></span>UX<span></span>专<span></span>业<span></span>班</div> -->
                    <div class="ly-class-title">{$v[title]}</div>
                    <!-- 图片-->
                    <div class="ly-class-img-box"><img src="{$v[thumb]}" alt=""/></div>
                     <!--一段文字 -->
                    <p class="ly-class-des">{$v[content]}</p>
                    <!-- 开班时间-->
                    <div class="ly-class-kbsj">
                        <span>开班时间：{$v[kbsj]}</span>
                        <span>{$v[class_des]}</span>
                    </div>
                    <!-- 预约报名-->
                    <div class="ly-class-bm"><a href="{$CATEGORYS[13][url]}"></a>预约报名</div>
                </li>
                {$i++}
            {/loop}    
               <!--  <li class="ly-class  ly-class-nopre">
                   标题
                   <div class="ly-class-title ly-class-title_two">UI<span></span>UX<span></span>非<span></span>专<span></span>业<span></span>班</div>
                   图片
                   <div class="ly-class-img-box"><img src="" alt=""/></div>
                    一段文字
                   <p class="ly-class-des">没有美术基础，但是喜欢设计，喜欢互联网，随着“互联网”+不断深化，各行各业都在不断地利用互联网进行重塑，需要大量懂行业和专业，同时又懂互联网产品设计和运营的人才</p>
                   开班时间
                   <div class="ly-class-kbsj">
                       <span>开班时间：2016/12/03 </span>
                       <span>UI精品班（送-就业实战课程【就业班】）</span>
                   </div>
                   预约报名
                   <div class="ly-class-bm"><a href="{$CATEGORYS[13][url]}"></a>预约报名</div>
               </li> -->
            </ul>
            {/pc}
        </div><!--***************结束*****************-->
    </div>

    {template "content","uek_footer"}
    <script src="{JS_PATH}uek/js/jquery.min.js"></script>
    <script src="{JS_PATH}uek/js/ld_kcap.js"></script>