    {template "content","uek_nav"}
    {template "content","uek_inside_banner"}
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/xyz_qd.css" />
    <link rel="stylesheet" href="{CSS_PATH}uek/css/ld_kcap.css">
    <!-- ***************** UI设计师 ************* -->
    <div class="xyz-front">
        <div class="xyz-front-containter">
            <!-- uek logo -->
            <div class="xyz-uek-logo">
                <img src="{IMG_PATH}uek/images/xyz_img/logo.png" alt="" />
            </div>
            <!-- ******* 标题 ****** -->
            <div class="xyz-article-title">
                <h2><span>the</span> User Interface Designer</h2>
                <h4>
                    <span>UI</span>
                    <span class="xyz-line"></span>
                    <span>设</span>
                    <span class="xyz-line"></span>
                    <span>计</span>
                    <span class="xyz-line"></span>
                    <span>师</span>
                    <span class="xyz-line"></span> 
                </h4>
                <div class="xyz-close">
                    <img src="{IMG_PATH}uek/images/xyz_img/close.png" alt="" />
                </div>
            </div>
            <div class="xyz-content">
                <p class="xyz-p1">好的UI设计不仅让软件变得有个性有品位，还让软件的操作变得舒适简单、自由<br/>这一切刚好与新时代求职者以“色”示人、我行我“塑”的性格相符</p>
                <h2>成为众多大学毕业生求职方向的首选</h2>
                <p class="xyz-p2"> 通过盘点国内最有前途的行业，我们发现非UI和游戏行业莫属。同时，当手机族日渐庞大 <br />用户的需求开始成正井喷式蔓延，炫酷的手机游戏、高端的界面享受、智能的交互体验，使得UI界面成为俘获用户的关键</p>
                <h2>UI设计师成为招聘市场需求紧俏的人才资源</h2>
                <p class="xyz-p3">UI设计中包含交互设计、UE/UX设计和产品设计，尤其是移动互联网时代 <br />UE和UI不断融合，高级UI设计师更应该成为产品经理</p>
                <h2>优逸客</h2>
                <p>通过历时多年的深度行业调研，结合企业对人才实际需求研发 <br />出一套互联网与移动互联网UI设计实训体系 <br />并在实训实施过程中不断更新迭代形成一套与企业需求高度契合、大学生就业需求 <br />高度一致的UI设计实训体系</p>
            </div>
        </div>
    </div><!--********** 前端工程师结束 ************-->
    <!-- *************** UI就业薪资 开始 *********** -->
    <div class="xyz-jyxz">
        <!-- 上下阴影 -->
        <div class="ld-boxshadowdown"></div>
        <div class="ld-boxshadowup"></div>
        
        <div class="xyz-jyxz-containt">
            <!-- 标题 -->
            <div class="xyz-title">
                <h1><span>UI</span>就业薪资</h1>
                <h2>EMPLOYMENT <span>SALARY</span> </h2>
            </div>
            <!-- 薪资比例展示 -->
            <div class="xyz-salary">
                <div class="xyz-salary-img"></div>
                <p>(就业薪资比例展示)</p>
            </div>
            <!-- 统计投票 -->
            <div class="xyz-vote">
                <div class="xyz-pay">
                    <span class='xyz-pay-num'>8840</span>
                    <span class='xyz-pay-uint'>RMB</span>
                </div>
                <p>近一年78710份样本/可信度：高</p>
                <ul class="xyz-select">
                    <h2>你觉得该统计数字准确吗？</h2>
                    <li>偏低</li>
                    <li class="xyz-btn-center">靠谱</li>
                    <li>偏高</li>
                </ul>
                <ul class="xyz-ticket">
                    <li>52票 (37%)</li>
                    <li class="xyz-btn-center">21票 (15%)</li>
                    <li class="xyz-ticket-last">69票 (49%)</li>
                </ul>
            </div><!--*********** 统计投票结束 *******-->
        </div>
    </div><!--*********** UI就业薪资 结束*************-->

    <!--*********** UI就业岗位 开始*************-->
    <div class="xyz-jobs">
        <div class="xyz-jobs-contain">
            <!-- 标题 -->
            <div class="xyz-title">
                <h1><span>UI</span>就业岗位</h1>
                <h2>EMPLOYMENT <span>JOBS</span> </h2>
            </div>
            <!-- 内容 -->
            <div class="xyz-jobs-content">
                <!-- 左侧 -->
                <ul class="xyz-job-left">
                    <li>
                        <div class="xyz-job-icon"><img src="{IMG_PATH}uek/images/xyz_img/jb1.png" alt="" /></div>
                        <div class="xyz-job-content">
                            <div class="xyz-fontb"><p>交互设计师</p></div>
                            <div class="xyz-fonts"><p>FRONT-END ENGINNER</p></div>
                        </div>  
                    </li>
                    <li class="xyz-jobm">
                        <div class="xyz-job-icon"><img src="{IMG_PATH}uek/images/xyz_img/jb2.png" alt="" /></div>
                        <div class="xyz-job-content">
                            <div class="xyz-fontb"><p>GUI设计师</p></div>
                            <div class="xyz-fonts"><p>Graphical USER INTERFACE DESIGNER</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="xyz-job-icon"><img src="{IMG_PATH}uek/images/xyz_img/jb3.png" alt="" /></div>
                        <div class="xyz-job-content">
                            <div class="xyz-fontb"><p>游戏UI设计师</p></div>
                            <div class="xyz-fonts"><p>GAME USER INTERFACE DESIGNER</p></div>
                        </div>
                    </li>
                </ul>
                <!-- 中间 -->
                <div class="xyz-job-middle"><img src="{IMG_PATH}uek/images/xyz_img/jb.png" alt="" /></div>
                <!-- 右侧 -->
                <ul class="xyz-job-right">
                    <li>
                        <div class="xyz-job-ricon"><img src="{IMG_PATH}uek/images/xyz_img/jb1.png" alt="" /></div>
                        <div class="xyz-job-rcontent">
                            <div class="xyz-rfontb">平面设计师</div>
                            <div class="xyz-rfonts">UGRAPHIC DESIGNER</div>
                        </div>
                    </li>
                    <li class="xyz-job-rm">
                        <div class="xyz-job-ricon"><img src="{IMG_PATH}uek/images/xyz_img/jb2.png" alt="" /></div>
                        <div class="xyz-job-rcontent">
                            <div class="xyz-rfontb">UI设计师</div>
                            <div class="xyz-rfonts">USER INTERFACE DESIGNER</div>
                        </div>
                    </li>
                    <li>
                        <div class="xyz-job-ricon"><img src="{IMG_PATH}uek/images/xyz_img/jb3.png" alt="" /></div>
                        <div class="xyz-job-rcontent">
                            <div class="xyz-rfontb">UE设计师</div>
                            <div class="xyz-rfonts">USER EXPERIENCE DESIGNER</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--*********** UI就业岗位 结束*************-->

    <body>
    <!-- **********************课程安排开始******************** -->
    <div class="ld-kcdi">
        <div class="ld-boxshadowdown"></div>
        <div class="ld-boxshadowup"></div>
        <div class="ld-kccon">
            <!-- <div class="ld-lcleft"></div> -->
            <!-- 标题 -->
            <div class="xyz-title">
                <h1><span>UI</span>课程安排</h1>
                <h2>COURSE <span>ARRANGEMENT</span> </h2>
            </div>
            <div class="ld-lcright-di">
                <ul class="ld-lcright">
                    <li>
                        <div class="ld-left-tit">
                            <span class="ld-tit-wenzi">基础部分</span><span class="ld-tit-num"></span><span class="ld-tit-dot"></span>
                        </div>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>美术设计</p></div>
                        <div class="ld-lc-rinner">
                            <p>绘画基础篇（简单的了解手绘素描、色彩、速写）；平面构成的基础知识（点线面）色彩美学方面的知识；游戏ICON</p>
                        </div>
                    </li>
                    <li>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>软件讲解</p></div>
                        <div class="ld-lc-rinner">
                            <p>Photoshop基本操作、操作界面、常见工具的使用Photoshop常用工具、图层、路径图层样式、滤镜、调色，学习Illustrtor软件的基本操作、以及面板等常见工具的使用</p>
                        </div>
                    </li>
                    <li>
                        <div class="ld-left-tit">
                            <span class="ld-tit-wenzi">设计部分</span><span class="ld-tit-num"></span><span class="ld-tit-dot"></span>
                        </div>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>平面设计</p></div>
                        <div class="ld-lc-rinner">
                            <p>美术阶段交付物是：1套手绘图标；1份线框图；1份实物临摹；N份主题海报；1套完美的图标；1套创意的图标；折页，VI，画册；</p>
                        </div>
                    </li>
                    <li>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>交互设计</p></div>
                        <div class="ld-lc-rinner">
                            <p>产品需求把握、分析定位从idea到可行方案的过渡交互框架设计市场成熟案例的细致分析</p>
                        </div>
                    </li>
                    <li>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>网页界面设计</p></div>
                        <div class="ld-lc-rinner">
                            <p>了解网页设计基本原则与规范，不同载体的案例展示，掌握企业网站的技能及设计技巧，掌握专题型网站的设计</p>
                        </div>
                    </li>
                    <li>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>移动界面设计</p></div>
                        <div class="ld-lc-rinner">
                            <p>UI设计中的色彩搭配、字体和构图，iOS端手机布局和设计规范，了解手机UI及Android控件，掌握手机的布局及Android界面设计规范／</p>
                        </div>
                    </li>
                    <li>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>AE动效设计</p></div>
                        <div class="ld-lc-rinner">
                            <p>学习AE的基本功能、制作交互动画，对页面进行交互链接，将之前做的安卓界面设计图用AE软件加交互设计，从而有一个完整的界面的作品。</p>
                        </div>
                    </li>
                     <li>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>插画设计</p></div>
                        <div class="ld-lc-rinner">
                            <p>本着审美与实用相统一的原则，尽量使线条，形态清晰明快，制作方便。插图是世界都能通用的语言，其设计在商业应用上通常分为人物、动物、商品形象</p>
                        </div>
                    </li>
                     <li>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>CINEMA 4d</p></div>
                        <div class="ld-lc-rinner">
                            <p>C4D以极高的运算速度和强大的渲染插件著称，其设计在商业应用上通常分为人物、动物、商品形象，以及对banner的设计</p>
                        </div>
                    </li>
                    <li>
                        <div class="ld-left-tit">
                            <span class="ld-tit-wenzi">设计部分</span><span class="ld-tit-num"></span><span class="ld-tit-dot"></span>
                        </div>
                        <!-- 多行/单行文本垂直居中 -->
                        <div class="ld-leftin"><p>HTML+CSS</p></div>
                        <div class="ld-lc-rinner">
                            <p>不仅掌握HTML4﹠CSS2，而且掌握HTML5和CSS3新的特性，并且熟练应用。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- **********************课程安排结束******************** -->

    <!-- **********************免费试学开始******************** -->
    <div class="ld-mfdi">
        <div class="ld-mf">
            <ul class="ld-mfcon">
                <li>
                    <img src="{IMG_PATH}uek/images/ld_images/ld-item04.png" height="199" width="199" alt="" />
                    <b>免费试学</b>
                </li>
                <li>
                    <img src="{IMG_PATH}uek/images/ld_images/ld-item03.png" height="199" width="199" alt="" />
                    <b>0元入学</b>
                </li>
                <li>
                    <img src="{IMG_PATH}uek/images/ld_images/ld-item02.png" height="199" width="199" alt="" />
                    <b>免费体验</b>
                </li>
                <li>
                    <img src="{IMG_PATH}uek/images/ld_images/ld-item01.png" height="199" width="199" alt="" />
                    <b>就业服务</b>
                </li>
            </ul>
        </div>
    </div><!-- **********************免费试学结束******************** -->
    
    <!-- **********************姓名开始******************** -->
    <!-- **********************姓名结束******************** -->
        <div class="ldname-di">
        <div class="ld-boxshadowdown"></div>
        <div class="ld-boxshadowup"></div>
        <div class="ldname-con">
            <ul class="ldname-line">
                {pc:content action="position" posid="58" num="6" order="listorder ASC"}
                {loop $data $v}
                <li></li>
                {/loop}
                {/pc}
            </ul>
            <table class="ld-namebox">
                <tr>
                    <th>姓名</th>
                    <th>班级</th>
                    <th>薪资</th>
                    <th>专业</th>
                    <th>就业公司</th>
                    <th>其他待遇</th>
                </tr>
                {pc:content action="position" posid="58" num="6" order="listorder ASC"}
                {loop $data $v}
                <tr>
                    <td>{$v[name]}</td>
                    <td>{$v[class]}</td>
                    <td class="ld-moneycolor">rmb：{$v[salary]}</td>
                    <td>{$v[major]}</td>
                    <td>{$v[company]}</td>
                    <td>{$v[welfare_1]}＋{$v[welfare_2]}＋{$v[welfare_3]}福利</td>
                </tr>
                {/loop}
                {/pc}
                <!-- <tr>
                    <td>张同学</td>
                    <td>wuidf1603-1</td>
                    <td class="ld-moneycolor">rmb：12000</td>
                    <td>艺术设计</td>
                    <td>北京某科技公司</td>
                    <td>五险一金＋提成＋13薪＋其他福利</td>
                </tr>
                <tr>
                    <td>张同学</td>
                    <td>wuidf1603-1</td>
                    <td class="ld-moneycolor">rmb：12000</td>
                    <td>艺术设计</td>
                    <td>北京某科技公司</td>
                    <td>五险一金＋提成＋13薪＋其他福利</td>
                </tr>
                 <tr>
                    <td>张同学</td>
                    <td>wuidf1603-1</td>
                    <td class="ld-moneycolor">rmb：12000</td>
                    <td>艺术设计</td>
                    <td>北京某科技公司</td>
                    <td>五险一金＋提成＋13薪＋其他福利</td>
                </tr>
                 <tr>
                    <td>张同学</td>
                    <td>wuidf1603-1</td>
                    <td class="ld-moneycolor">rmb：12000</td>
                    <td>艺术设计</td>
                    <td>北京某科技公司</td>
                    <td>五险一金＋提成＋13薪＋其他福利</td>
                </tr> -->
            </table>
        </div>
    </div>
    <!-- **********************报名开始******************** -->
    <div class="ld-baoming-di">
        <ul class="ld-baoming-con">
            {pc:content action="lists" num="2" catid="113" moreinfo="1"}
            {php $kx=0}
            {loop $data $ld}
            {php $kx++}
            <li class="ld-baoming-lis">
                <div class="ld-bm-top">
                    <div class="ld-blueball">
                        <img src="{IMG_PATH}uek/images/ld_images/ld-wave-border.png" alt="" class="ld-wave-border" />
                        <img src="{IMG_PATH}uek/images/ld_images/ld-wave.png" alt="" class="ld-wave" />
                        <h1 class="ld-blue-num"><span></span>%</h1>
                        <h1 class="ld-baoming">火热报名中</h1>
                    </div>
                </div>
                <h2>{$ld[title]}</h2>
                <div class="bm-middle">
                    <div class="ld-bm-left">
                        <h3>实训流程</h3>
                        <ul class="ld-bm-btm">
                            <li>美术和平面设计阶段</li>
                            <li>界面设计阶段</li>
                            <li>ui开发</li>
                            <li>移动端开发</li>
                            <li>综合项目</li>
                        </ul>
                    </div>
                    <div class="ld-bm-rightbox">
                        <ul class="ld-bm-right">
                            <li>
                                <h3><span class="ld-bm-titspan"></span>赠送课程</h3><p>{$ld[kecheng]}</p>
                            </li>
                            <li>
                                <h3><span class="ld-bm-titspan"></span>开班时间</h3><p>{$ld[kbtime]}</p>
                            </li>
                            <li class="ld-daojishi">
                                <h3><span class="ld-bm-titspan"></span>开班倒计时</h3>
                                <p><span class="lyn-djss"></span>天<span class="lyn-djss"></span>时<span class="lyn-djss"></span>分<span class="lyn-djss"></span>秒</p>
                                {if $kx==1}
                                    <script type="text/javascript">
                                    var str1="{$ld[kbtime]}";
                                    var str11="{$ld[ksbm_time]}";
                                    </script>
                                {elseif $kx==2}
                                    <script type="text/javascript">
                                    var str2="{$ld[kbtime]}";
                                    var str22="{$ld[ksbm_time]}";
                                    </script>
                                {/if}
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="ld-bm-btn"><a href="javascript:;">立即报名</a></div>
            </li>
            {/loop}
            {/pc}
        </ul>
    </div><!-- **********************报名结束******************** -->
    {template "content","uek_footer"}
    <script src="{JS_PATH}uek/js/jquery.min.js"></script>
    <script src="{JS_PATH}uek/js/ld_kcap.js"></script>