    {template "content","uek_nav"}
    {template "content","uek_inside_banner"} 
    <link rel="stylesheet" href="{CSS_PATH}uek/css/ly_wybm.css">
    <!--************我要报名***************-->
    <div class="ly-sigin-container clearfix">
        <!--标题-->
        <h1  class="ly-sigin-title">填写预报名</h1>
        <!--友情提示-->
        <p class="ly-sigin-yqts">友情提示：建议您在决定正式报名之前，可申请免费试听课程或者获取我们的课堂实录视频，以更好帮助您感受我们的课程是否符合您的需要</p>
        <!--基本信息-->
        <div class="ly-sigin-info-box clearfix">
            <!--标题-->
            <h1 class="ly-sigin-info-title">请填写您的基本信息</h1>
            {template "content","show_wybm"}
            <!-- <form action="" class="ly-sigin-info-form clearfix"> -->
                <!-- <script language='javascript' src='{APP_PATH}index.php?m=formguide&c=index&a=show&formid=22&action=js&siteid=1'></script> -->
                <!-- <label class="ly-sigin-info-lis">
                    <span>真实姓名</span><i>*</i><input type="text" id="ly-name" placeholder="我们期待更了解您">
                </label>
                <label class="ly-sigin-info-lis ly-sigin-info-lis-active ly-sigin-info-right">
                    <span>真实号码</span><i>*</i><input type="text" id="ly-num" placeholder="我们和您一样讨厌骚扰电话">
                </label>
                <label class="ly-sigin-info-lis ly-sigin-info-lis-active">
                    <span>QQ 号码</span><i>*</i><input type="text" id="ly-qq" placeholder="我们将尽快与您联系">
                </label>
                <label class="ly-sigin-info-lis ly-sigin-info-right">
                    <span>邮箱地址</span><i></i><input type="email" id="ly-email" placeholder="我们将尽快与您联系">
                </label> -->

                

                <!--按钮-->
                <!-- <input type="button" id="ly-sigin-btn dosubmit" value="马上预约" name="dosubmit"> -->
            <!-- </form> -->
            <!-- {pc:blockarea action="block" id="1"}{$data["data"]}{/pc} -->
            <!-- <div>{pc:block pos="index_block_1"}{/pc}</div> -->
        </div>
        <!--预交报名费-->
        <div class="ly-yjbmf-box  clearfix">

            <!-- 标题  -->
            <div class="ljg-content-title">
                <strong>预交报名费</strong>
                <b>|</b>
                <span>FORECAST APPLICATION FEE</span>
            </div>
            <!--内容-->
            <div class="ly-yjbmf-con ly-con-bd">
                <h1>参加培训的学员按照下面的汇款方式缴纳500元报名预订金，该报名费在开课后用于抵扣学费 <span>（只是订座而已）</span></h1>

                <p>温馨提示：如果您无法参加当期的课程，我们将自动将您的名额转至下一期班级。 如果您在缴纳报名费用后不打算参加学习了，请在开班前5个工作日内通知我们，我们将全额退还您的报名费（如果您在外地，汇款的手续费用将从您的报名费中扣除）。</p>
            </div>
        </div>
        <!--*************报名费确认*************-->
        <div class="ly-yjbmf-box  clearfix ly-bmfqr-box">
            <!-- 标题  -->
            <div class="ljg-content-title">
                <strong>报名费确认</strong>
                <b>|</b>
                <span>CONFIRM REGISTRATION FEE</span>
            </div>
            <!--内容-->
            <div class="ly-bmfqr-con ly-con-bd clearfix">
                <h1 class="ly-bmfqr-title">转账之后，可以通过QQ、邮箱、微信等方式将您的详细信息告诉咨询老师</h1>
                <dl class="ly-bmfqr-ul">
                    <dt>包括以下内容</dt>
                    <dd><span>·</span>汇款人姓名、所报学科与班级、汇款金额、汇出银行、汇入银行、汇款时间等或汇款种类（报名费，培训费）</dd>
                    <dd><span>·</span>咨询老师确认收到款项后会及时与您沟通座位预订情况。</dd>
                    <dd><span>·</span>并会有专门老师电话、邮件通知您走进入学流程！</dd>
                </dl>
            </div>

        </div>
        <!--*************来校报道*************-->
        <div class="ly-yjbmf-box  clearfix ly-bmfqr-box">
            <!-- 标题  -->
            <div class="ljg-content-title">
                <strong>来校报到</strong>
                <b>|</b>
                <span>TO THE NEWSPAPER</span>
            </div>
            <!--内容-->
            <div class="ly-lxbd-con">
                <ul>
                    <li>（1）所有学员最好是开班前三天至校区办理报到手续（注：节假日除外）</li>
                    <li>（2）报到时须携带本人身份证原件并填写学籍卡、签订学员守则。</li>
                    <li>（3）需工作人员协助安排住宿的学员请在买好车票后告知咨询老师；以便工作人员协助您安排住宿并事先熟悉环境,为日后的学习做好准备工作。</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{JS_PATH}uek/js/jquery.min.js"></script>
    <!-- <script src="{JS_PATH}uek/js/ly_wybm.js"></script> -->
    <script src="{JS_PATH}uek/js/ljg_nav.js"></script>
    <script src="{JS_PATH}uek/js/jquery.placeholder.min.js"></script>
    {template "content","uek_footer"}