    {template "content","uek_nav"}
    {template "content","uek_inside_banner"}
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/xyz_szdt.css" />
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/xjn_common.css" />
    <link rel="stylesheet" href="{CSS_PATH}uek/css/xjn-index-footer.css">
    <link rel="stylesheet" href="{CSS_PATH}uek/css/ld_pages.css">
    <!-- ****************** 师资团队开始 ******************** -->
    <div class="xyz-sztd">
        <!-- 面包屑导航开始 -->
        <div class="xjn-mbxnav">
            <a href="javascript:;" class='xjn-home'>首页</a>
            <span>&gt;</span>
            <a href="javascript:;" class='xjn-category'>师资团队</a>
        </div><!-- 面包屑导航结束 -->

        <!-- *********** 左侧导航栏 ********** -->
        <div class="xyz-left-nav">
            <!--*********  二级页面左边导航开始 *************** -->
            <div class="xjn-lside">
                <div class="xjn-title">
                    <h4 class='xjn-titeng'><span>TEACHER</span> TEAM</h4>
                    <h3 class='xjn-titchn'><span>师资</span>团队</h3>
                </div>
                <div class="xjn-line"></div>
                <ul class="xjn-catlist">
                    <li class="xjn-list active">
                        <a href="javascript:;"><span>·</span>UI设计</a>
                    </li>
                    <li class="xjn-list">
                        <a href="javascript:;"><span>·</span>前端与移动开发培训</a>
                    </li>
                    <li class="xjn-list">
                        <a href="javascript:;"><span>·</span>PHP培训</a>
                    </li>
                </ul>
             </div><!--*********  二级页面左边导航结束 *************** -->
        </div>

        <!-- *********** 右侧导航栏 ********** -->
        <div class="xyz-right-nav">
            <h1 class="xyz-title">师资团队</h1>
            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **-->

            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **--> 

            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher xyz-deleb">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **--> 

            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **-->

            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **--> 

            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher xyz-deleb">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **--> 

            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **-->

            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **--> 

            <!-- **** 讲师信息 **** -->
            <div class="xyz-teacher xyz-deleb">
                <div class="xyz-teacher-img"><img src="images/xyz_img/teacher.png" alt="" /></div>
                <div class="xyz-teacher-detial">
                    <h1>刘钊</h1>
                    <h2>UI实训组长</h2>
                </div>
                <p class="xyz-teacher-text">
                    从事设计工作6年，曾就职与北京和山西百度公司熟悉用户体验设计和...
                </p>
                <div class="xyz-teacher-more ">
                    <a href="javascript:;">查看老师作品</a>
                </div>
            </div> <!--** 讲师信息结束 **-->  
        </div><!--**** 右侧导航栏结束 ****-->

        <div class="xyz-fanye">
        <!--***************翻页开始****************-->
        <div class="ld-pagebox">
            <!--<div id="pages" class="text-c ld-pages">{$pages}</div>-->
            <div id="pages" class="text-c ld-pages">
                <a href="javascript:;" class="a1"></a>
                <a href="javascript:;" class="a1"></a>
                <a href="javascript:;">1</a><a href="javascript:;">2</a><span>3</span><a href="javascript:;">4</a>
                <a href="javascript:;" class="a1" class="ld-next"></a>
            </div>
            <div class="ld-tiaozhuan">
                <form action="">
                    <div class="ld-goleft">
                        <span class="">跳转到</span><input class="ld-input" type="text"><span>页</span>
                    </div>
                    <div class="ld-gobtn"></div>
                </form>
            </div>
        </div><!--翻页结束-->
    </div>

    </div><!--**************** 师资团队结束 *************** -->
    <script type="text/javascript" src="{JS_PATH}uek/js/xyz_sztd.js"></script>
    <script src="{JS_PATH}uek/js/ljg_nav.js"></script>
    <script type="text/javascript" src="{JS_PATH}uek/js/xjn_xwzx.js"></script>
    <script src="{JS_PATH}uek/js/ld_pages.js"></script>
    {template "content","uek_footer"}