

    <div class="xjn-search">
        <!--**左侧导航开始**-->
        <ul class="xjn-lside">
            <li class="xjn-list">
                <a href="{$CATEGORYS[83][url]}" class="xjn-item{if $catid==83||$catid==14}  active{/if}">公司简介<span>&#xe6e5;</span></a>
            </li>
            <li class="xjn-list">
                <a href="{$CATEGORYS[84][url]}" class="xjn-item{if $catid==84}  active{/if}">联系我们<span>&#xe6e5;</span></a>
            </li>
            <li class="xjn-list">
                <a href="{$CATEGORYS[85][url]}" class="xjn-item{if $catid==85}  active{/if}">校区查询<span>&#xe6e5;</span></a>
            </li>
            <li class="xjn-list">
                <a href="{$CATEGORYS[90][url]}" class="xjn-item{if $catid==90}  active{/if}">
                官方QQ群<span>&#xe6e5;</span></a>
            </li>
            <li class="xjn-list">
                <a href="{$CATEGORYS[89][url]}" class="xjn-item{if $catid==89}  active{/if}">版权申明<span>&#xe6e5;</span></a>
            </li>
        </ul><!--**左侧导航结束**-->
                