{template "content","uek_nav"}
<link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/ly_tab.css" />
<link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/ljg_xyxq.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}uek/css/previous_next.css" />
{template "content","uek_inside_banner"}
        <!-- ********************  详情内容  ***********************  -->
        <div class="ljg-details-container">
            <!-- **************  面包屑 *****************  -->
            <div class="ljg-crumbs">
                <a href="{siteurl($siteid)}">首页</a>
                <em>&gt;</em>
                <a href="{$CATEGORYS[$top_parentid][url]}">{$CATEGORYS[$top_parentid][catname]}</a>
                <em>&gt;</em>
                <a href="javascript:;" class="ljg-index">{$name}</a>
               <!--  <a href="javascript:;">高薪学员</a>
                <em>&gt;</em>
                <a href="javascript:;" class="ljg-index">丁同学</a> -->
            </div><!-- 面包屑结束 -->

            <!-- **************  内容  *****************  -->
            <div class="ljg-content-container">
                <!-- *********  标题 **********  -->
                <h1 class="ljg-content-title">精英学子</h1>

                <!-- *********  内容信息 **********  -->
                <div class="ljg-content-info clearfix">
                    <div class="ljg-info-publish">
                        <span class="ljg-info-date">{$inputtime}</span>
                        发布
                    </div>
                    <div class="ljg-info-source">
                        来源：
                        <span>{$source}</span>
                    </div>
                </div><!-- 内容信息结束 -->

                <!-- *********  学员 **********  -->
                <div class="ljg-student clearfix">
                    <div class="ljg-portrait"><img src="{$thumb}"/></div>

                    <!-- 学员信息 -->
                    <div class="ljg-student-info">
                        <h1><span>{$class}</span><span>&nbsp;{$name}</span></h1>
                        
                        <ul>
                            <li><strong>录取院校：</strong><span>{$school}</span></li>
                            <li><strong>专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</strong><span>{$major}</span></li>
                        </ul>
                    </div><!-- 学员信息结束 -->
                </div>

                <!-- **************  学员感想  *****************  -->
                <div class="ljg-main-container ljg-thoughts-container">
                    <!-- **********  标题 *********** -->
                    <div class="ljg-main-title ">
                        <strong>学员感想</strong>
                        <b>|</b>
                        <span>Students feel</span>
                    </div><!-- 标题结束 -->

                    <!-- **********  文章 *********** -->
                    <div class="ljg-thoughts-article">
                        {$content}　　                     
                    </div><!-- 文章结束 -->
                </div><!-- 学员感想结束 -->

                <!-- **************  学员作品  *****************  -->
                <div class="ljg-main-container ljg-works-container">
                    <!-- **********  标题 *********** -->
                    <div class="ljg-main-title ljg-main-title-ly">
                        <strong>学员作品</strong>
                        <b>|</b>
                        <span>Student work</span>
                    </div><!-- 标题结束 -->
                    <!-- **********  作品列表 *********** -->
                    <div class="ljg-works-list">
                     <!--app作品  -->
                        <ul class="ljg-works-ul clearfix tab-con-lis tab-con-lis-active">
                       {loop $APP_work $k}
                            <li class="ljg-works-lis">
                                <a href="javascript:;"><img src="{$k[url]}"/>
                                </a>
                            </li>
                       {/loop}
                       {loop $website_work $k}
                            <li class="ljg-works-lis">
                                <a href="javascript:;"><img src="{$k[url]}"/>
                                </a>
                            </li>
                       {/loop}
                       {loop $interaction_work $k}
                            <li class="ljg-works-lis">
                                <a href="javascript:;"><img src="{$k[url]}"/>
                                </a>
                            </li>
                       {/loop}
                       {loop $plane_work $k}
                            <li class="ljg-works-lis">
                                <a href="javascript:;"><img src="{$k[url]}"/>
                                </a>
                            </li>
                       {/loop}
                        </ul>
                       <!--网站作品 -->
                       <!--  <ul class="ljg-works-ul clearfix tab-con-lis">
                       
                        </ul> -->
                        <!--交互作品 -->
                       <!--   <ul class="ljg-works-ul clearfix tab-con-lis">
                       
                        </ul> -->
                        <!--平面作品 -->
                        <!--  <ul class="ljg-works-ul clearfix tab-con-lis">
                       
                        </ul> -->
                    </div>
                    <!-- **********  分享 *********** -->
                    {template 'content','uek_share'}
                   <!-- 分享结束 -->
                </div><!-- 学员作品结束 -->
                <!-- 上一篇和下一篇 -->
                <div class="ly-post-box">
                    <div class="ly-post"><span>上一篇 : </span><a href="{$previous_page[url]}">{$previous_page[title]}</a></div>
                    <div class="ly-post ly-post-sec"><span>下一篇 : </span><a href="{$next_page[url]}">{$next_page[title]}</a></div>
                </div><!-- 上一篇和下一篇结束-->
            </div><!-- 内容结束 -->
        </div><!-- 详情内容结束 -->


{template "content","uek_footer"}
<script src="{JS_PATH}uek/js/ljg_nav.js"></script>
<script src="{JS_PATH}uek/js/ld_zxdk.js"></script>
<script src="{JS_PATH}uek/js/ly_tab.js"></script>
<script src="{JS_PATH}uek/js/ljg_xyxy_2.js"></script>
