<form method="post" action="http://www.sxuek.com/uek_new/index.php?m=formguide&amp;c=index&amp;a=show&amp;formid=23&amp;siteid=1" name="myform" id="myform">  
    <label class="ly-sigin-info-lis">
        <span>真实姓名</span><i>*</i><input type="text" id="ly-name" placeholder="我们期待更了解您" name="info[name]">
    </label>
    <label class="ly-sigin-info-lis ly-sigin-info-lis-active ly-sigin-info-right">
        <span>真实号码</span><i>*</i><input type="text" id="ly-num" placeholder="我们和您一样讨厌骚扰电话" name="info[phone_code]">
    </label>
    <label class="ly-sigin-info-lis ly-sigin-info-lis-active">
        <span>QQ 号码</span><i>*</i><input type="text" id="ly-qq" placeholder="我们将尽快与您联系" name="info[qq_number]">
    </label>
    <label class="ly-sigin-info-lis ly-sigin-info-right">
        <span>邮箱地址</span><i></i><input type="text" id="ly-email" placeholder="我们将尽快与您联系" name="info[email]">
    </label>
    <!--按钮-->
    <input type="submit" id="ly-sigin-btn" value="马上预约" name="dosubmit">
</form>