  <!-- ***********左侧L型导航  l************* -->
        <div class="ly-nav-l">
            <!-- 头部 t-->
            <div class="ly-nav-lt">
                <div class="ly-nav-lt-en"><strong>ELITE</strong> <span>STUDENT</span></div>
                <div class="ly-nav-lt-cn"><strong>精英</strong><span>学子</span></div>
            </div>
            <!-- 装饰线 -->
            <div class="ly-nav-l-line"></div>
            <!-- 内容区 -->
            <div class="ly-nav-l-con-box">
                
                <!-- 下方开始循环 -->
                <!-- {php $str=$CATEGORYS[$catid][arrchildid]} -->
                {php $str=$arrchildid}
                <!-- {php var_dump($str)} -->
                {if $catid!=9}
                {pc:content action="category" catid="$top_parentid" order="id DESC" }
                {loop $data $r}
                <div class="ly-nav-l-con-lis">
                    <h1 class="ly-nav-l-con-caption">
                       <span>·</span>
                        <a href="javascript:">{$r[catname]}</a>
                    </h1>
                    {pc:content action="category" catid="$r[catid]"}
                    <ul class="ly-nav-l-con">
                        {loop $data $v}
                        <li class="ly-nav-l-con-li">
                            <i {if $catid==$v[catid]}class="ly-left-con-1 ly-left-con-2" {else}class="ly-left-con-1" {/if}></i>
                            <a href="{$v[url]}" {if $catid==$v[catid]}class="ly-nav-l-li-active"{/if}>{$v[catname]}</a>
                        </li>
                        {/loop}
                    </ul>
                    {/pc}
                </div>
                {/loop}
                {/pc}

                {else}

                {pc:content action="category" catid="$top_parentid"}
                {php $i=0}
                {loop $data $r}
                {if $i==0}
                <div class="ly-nav-l-con-lis">
                    <h1 class="ly-nav-l-con-caption">
                       <span>·</span>
                        <a href="javascript:">{$r[catname]}</a>
                    </h1>
                    {pc:content action="category" catid="$r[catid]"}
                    {php $j=0}
                    <ul class="ly-nav-l-con">
                        {loop $data $v}
                        {if $j==0}
                        <li class="ly-nav-l-con-li">
                            <i class="ly-left-con-1 ly-left-con-2"></i>
                            <a href="{$v[url]}" class="ly-nav-l-li-active">{$v[catname]}</a>
                        </li>
                        {else}
                        <li class="ly-nav-l-con-li">
                            <i class="ly-left-con-1"></i>
                            <a href="{$v[url]}" class="">{$v[catname]}</a>
                        </li>
                        {/if}
                        {php $j++}
                        {/loop}
                    </ul>
                    {/pc}
                </div>
                {else}
                 <div class="ly-nav-l-con-lis">
                    <h1 class="ly-nav-l-con-caption">
                       <span>·</span>
                        <a href="javascript:">{$r[catname]}</a>
                    </h1>
                    {pc:content action="category" catid="$r[catid]"}
                    <ul class="ly-nav-l-con">
                        {loop $data $v}
                        <li class="ly-nav-l-con-li">
                            <i class="ly-left-con-1"></i>
                            <a href="{$v[url]}" class="">{$v[catname]}</a>
                        </li>
                        {/loop}
                    </ul>
                    {/pc}
                </div>
                {/if}
                {php $i++}
                {/loop}
                {/pc}
                {/if}
            </div>
        </div>