    {template "content","myheader"}
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}sxylys/css/limai.css" />
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}sxylys/css/product_show.css" />
    <!-- ************ 主体部分 ************* -->
    <div class="list-main">
        <div class="lm-nav">
            <a href="{$CATEGORYS[9][url]}" class="lm-product">销售区域</a>
            <div class="lm-line"></div>
            <div class="more">
                <!-- <div class="more-icon"></div> -->
                <a href="{siteurl($siteid)}">返回</a>

            </div>
        </div>       
        {pc:content  action="lists" catid="$catid" num="1" siteid="$siteid" order="listorder ASC" moreinfo="1"}
        {loop $data $v}
        <div class="article">{$v[content]}</div>
        {/loop}
        {/pc}

    </div><!-- *************** 主体部分结束 *********-->


    {template "content","myfooter"}