@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
*{
	font-family:"宋体",​Arial,​Helvetica,​sans-serif;
}
body{
	background: #1A1A1A;
}
/*头部*/
.header{
	width: 100%;
	height: 36px;
	background: #0D0D0D;
}
.header .head{
	width:1015px;
	height: 36px;
	margin: 0 auto;
}
.header .head .welcome{
	width:auto;
	height: 36px;
	float: left;
	font-size:12px;
	line-height: 36px;
	color: #6b6b6b; 
}
.header .head .welcome span{
	color: #FF6E27;
}
.header .head .head-ul{
	width: 300px;
	height: 36px;
	float: right;
}
.header .head .head-ul .headli{
	width: 71px;
	height: 36px;
	float: left;
	padding-left: 23px;
	position: relative;
}
.icon{
	font-family: "iconfont";
	font-size: 16px;
	color:#6b6b6b; 
	position: absolute;
	font-weight: normal;
	left: 0;
	top: 10px;
}
.header .head .head-ul .headli a{
	font-size: 12px;
	line-height: 36px;
	color:#6b6b6b; 
}
/*导航*/
.nav{
	width: 100%;
	height: 103px;
	/*background: #1A1A1A;*/
	/*border-bottom: 3px solid #515151;
	box-sizing:border-box;*/
	background: url(../../images/img/navbg.png) repeat-x;
}
.nav .nav-in{
	width: 1015px;
	height: 103px;
	margin: 0 auto;
}
.nav .nav-in .logo{
	width: 194px;
	height: 57px;
	float: left;
	margin-left: 13px;
	margin-top: 27px;
}
.nav .nav-in .navul{
	width: 609px;
	height: 100px;
	float: right;
	/*background:orange;*/
}
.nav .nav-in .navul .nav-a{
	width: 87px;
	height: 100px;
	display: block;
	float: left;
	position: relative;
}
.nav .nav-in .navul .nav-a .nav-pic{
	position: absolute;
	left: 0;
	top: 0;

}
.nav .nav-in .navul .nav-a .hnav-pic{
	position: absolute;
	left: 0;
	top:3px;
	display: none;
}
/*banner*/
.banner{
	width: 100%;
	height: 304px;
	background: url(../../images/img/bannerbg.png) no-repeat center 0;
}
.banner img{
	width: 1015px;
	height: 304px;
	margin: 0 auto;
}
/*品牌介绍*/
.intro{
	width: 1015px;
	height:auto;
	margin: 0 auto;
	margin-top: 13px;
}
.intro .intro-left{
	width: 232px;
	height: 527px;
	float:left;
	background: url(../../images/img/sub.png) no-repeat left top;
}
.intro .intro-left ul{
	width: 232px;
	height: 86px;
	padding: 85px 0 30px;
}
 .intro .intro-left ul li{
	text-align: center;
	line-height: 34px;
	font-family: "微软雅黑";
} 
.intro .intro-left ul li a{
	display: block;
	width: 232px;
	height: 43px;
	font-size: 12px;
	color: #8e8b8a;
	line-height: 34px;
	font-family: "微软雅黑";
	position: relative;
}

.intro .intro-left ul li a .line{
	position: absolute;
	left: 0;
	top:34px;
}
.intro .intro-left ul li a:hover{
	background: url(../../images/img/sub_hover.png) no-repeat;
    color: #491304;
    font-size: 16px;
}

.intro .intro-right{
	width: 765px;
	height:auto;
	float: right;
	background: url(../../images/img/artbg.png) repeat-y;
}
.intro .intro-right .title{
	width: 765px;
	height: 39px;
	background: url(../../images/img/title.png) no-repeat;
	margin-top: 12px;
}
.intro .intro-right .title .intro-p{
	width: 125px;
	height: 100%;
	padding-left: 19px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #f1f1f1;
    line-height: 39px;
    float: left;
}
.intro .intro-right .title .intro-p span{
	font-size: 10px;
	color:#7d7d7d;
	font-family: "微软雅黑";
	padding-left: 5px;
}
.intro .intro-right .title .weizhi{
	width: 90px;
	height: 39px;
	padding-right: 22px;
	float: right;
}
.intro .intro-right .title .weizhi a{
	color:#dadada;
	font-size: 12px;
	line-height: 39px;
}
.intro .intro-right .title .weizhi span{
	color:#dadada;
	font-size: 12px;
	line-height: 39px;
}
.intro .intro-right .art{
	width: 709px;
	height: auto;
	padding: 28px;
	
}
.intro .intro-right .art p{
	font-size: 12px;
	color: #706F6F;
	line-height: 24px;
}

/*footer*/
.footer{
	width: 100%;
	height: 64px;
	padding: 10px 0;
	background: #0A0A0A;
	clear: both;
	border-top: 1px solid #262626;
}
.footer .foot{
	width: 1015px;
	height: 64px;
	margin: 0 auto;
}
.footer .foot .erweima{
	float: left;
	margin-top: 2px;
	margin-right: 2px;
}
.footer .foot .footcon{
	width: 593px;
	height: 64px;
	float: left;
	margin-left: 47px;
}
.footer .foot .footcon .pp1{
	width: 593px;
	height: 24px;
	margin-top: 8px;
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}
.footer .foot .footcon .pp1 a{
	font-size: 12px;
	color: #666666;
}
.footer .foot .footcon .pp1 span{
	margin: 0 5px;
}
.footer .foot .footcon .pp2{
	width: 593px;
	height: 24px;
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}
.footer .foot #foot-logo{
	float: left;
	margin-top: 2px;
}