@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
*{
	font-family:"宋体",​Arial,​Helvetica,​sans-serif;
}
/*头部*/
.header{
	width: 100%;
	height: 36px;
	background: #0D0D0D;
}
.header .head{
	width:1015px;
	height: 36px;
	margin: 0 auto;
}
.header .head .welcome{
	width:auto;
	height: 36px;
	float: left;
	font-size:12px;
	line-height: 36px;
	color: #6b6b6b; 
}
.header .head .welcome span{
	color: #FF6E27;
}
.header .head .head-ul{
	width: 300px;
	height: 36px;
	float: right;
}
.header .head .head-ul .headli{
	width: 71px;
	height: 36px;
	float: left;
	padding-left: 23px;
	position: relative;
}
.icon{
	font-family: "iconfont";
	font-size: 16px;
	color:#6b6b6b; 
	position: absolute;
	font-weight: normal;
	left: 0;
	top: 10px;
}
.header .head .head-ul .headli a{
	font-size: 12px;
	line-height: 36px;
	color:#6b6b6b; 
}
/*导航*/
.nav{
	width: 100%;
	height: 103px;
	/*background: #1A1A1A;*/
	background: url(../../images/img/navbg.png) repeat-x;
}
.nav .nav-in{
	width: 1015px;
	height: 103px;
	margin: 0 auto;
}
.nav .nav-in .logo{
	width: 194px;
	height: 57px;
	float: left;
	margin-left: 13px;
	margin-top: 27px;
}
.nav .nav-in .navul{
	width: 609px;
	height: 100px;
	float: right;
	/*background:orange;*/
}
.nav .nav-in .navul .nav-a{
	width: 87px;
	height: 100px;
	display: block;
	float: left;
	position: relative;
}
.nav .nav-in .navul .nav-a .nav-pic{
	position: absolute;
	left: 0;
	top: 0;

}
.nav .nav-in .navul .nav-a .hnav-pic{
	position: absolute;
	left: 0;
	top:3px;
	display: none;
}
/*banner*/
.banner{
	width: 100%;
	height: 354px;
	background: url(../../images/img/banner-bg.png) no-repeat center 0;
}
.banner .screen{
	width: 1015px;
	height: 352px;
	margin: 0 auto;
	position: relative;
}
.banner .screen .ulimg{
	width: 1015px;
	height: 339px;
	position: relative;
}
.banner .screen .ulimg .imglis{
	width: 1015px;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	/*opacity: 0;
	filter: alpha(opacity=0);*/
}
.banner .screen .ulimg .first-img{
	display: block;
	/*opacity: 1;
	filter: alpha(opacity=100);*/
}
.banner .screen .cir-box{
	width: 100%;
	height: 29px;
	background: #F3640E;
	position: absolute;
	left: 0;
	bottom: 0;
}
.banner .screen .cir-box .ulcir{
	width: 70px;
	height: 8px;
	margin-left: 510px;
	margin-top: 10px;
}
.banner .screen .cir-box .ulcir .cir{
	width: 8px;
	height: 8px;
	background: url(../../images/img/li.png) no-repeat center center;
	margin-right: 15px;
	float: left;
	cursor: pointer;
}
.banner .screen .cir-box .ulcir .first-cir {
	background: url(../../images/img/lihover.png) no-repeat center center;
}
/*品牌展示*/
.show{
	width: 100%;
	height: 267px;
	padding-top: 1px;
	background: #1A1A1A;
	border-bottom: 1px solid #262626;
}
.show .intro{
	width: 1015px;
	height: 254px;
	margin: 0 auto;
	margin-top: 14px;
	background: url(../../images/img/show.png) no-repeat center 0;
}
.show .intro .show-box{
	width: 100%;
	height: 170px;
	padding-top: 54px;
}
.show .intro .show-box .showa{
	display: block;
	width: 312px;
	height: 170px;
	padding-left: 20px;
	float: left;
	overflow: hidden;
	position: relative;
}
.show .intro .show-box .showa img{
	width: 312px;
	height: 170px;
	position: absolute;
	left: 20px;
	top: 0;
}
.show .intro .show-box .showa .hshow-pic{
	display: none;
}
/*footer*/
.footer{
	width: 100%;
	height: 64px;
	padding: 10px 0;
	background: #0A0A0A;
}
.footer .foot{
	width: 1015px;
	height: 64px;
	margin: 0 auto;
}
.footer .foot .erweima{
	float: left;
	margin-top: 2px;
	margin-right: 2px;
}
.footer .foot .footcon{
	width: 593px;
	height: 64px;
	float: left;
	margin-left: 47px;
}
.footer .foot .footcon .pp1{
	width: 593px;
	height: 24px;
	margin-top: 8px;
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}
.footer .foot .footcon .pp1 a{
	font-size: 12px;
	color: #666666;
}
.footer .foot .footcon .pp1 span{
	margin: 0 5px;
}
.footer .foot .footcon .pp2{
	width: 593px;
	height: 24px;
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}
.footer .foot #foot-logo{
	float: left;
	margin-top: 2px;
}