div{
	width: 100px;
	height: 100px;
	background: red url(../../images/56.jpg) no-repeat;
}
.header{
	width: 100%;
	height: 300px;
	background: lightblue;
}
.footer{
	width: 100%;
	height: 300px;
	background: blue;
}