/*优逸客视屏*/
.ld-box{
    width:1200px;height:auto;
    margin:30px auto;
    background:#ffffff;
    border: 1px solid #E8E8E8;
    border-top: 2px solid #94D43B;
    position:relative;
}
/*标题*/
.ld-title{
    height:25px;
    line-height:25px;
    font-size:26px;
    color:#000;
    padding:30px 0 0 30px;
}
.ld-itemkuai{
    width:3px;height:16px;
    background:#01b5ff;
    position:absolute;
    left:30px;top:87px;
}
/*左侧选项卡*/
.ly-right-head-right{
    width:765px;height:17px;
    padding:30px 0 0 30px;
}
.ly-right-head-right li{
    float:left;
    color:#666666;
    font-size:16px;
    padding:2px;
}
.ly-right-head-right-li{
     border-top:2px solid transparent;
 }
.ly-right-head-right-li:hover{
    border-color:#01B5FF;
}
.ly-right-head-right-li a{
    color:#666666;
}
.ly-right-head-right-li a:hover{
    color:#01B5FF;
}
.ly-right-head-right-li-active{
    border-top:2px solid #01B5FF;
}
.ly-right-head-right-li-active a{
    color:#01B5FF;
}
.ly-right-head-right-span{
    float:left;
    display:block;
    margin:0 20px;
    font-size:18px;
    color:#666;
}

/*视频列表*/
.ld-ul-box{
    width:100%;
    overflow:hidden;
}
.ld-ul{
    width:100%;height:auto;
    overflow:hidden;
    /*display:none;*/
}
/*.ld-pagebox{display:none;}*/
.ld-ul-show,.ld-page-show{display:block;}
.ld-ul li{
    float:left;
    width:262px;height:210px;
    margin:30px 0 0 30px;
    background:#f6f6f6;
}
.ld-img{
    width:100%;height:150px;
    position:relative;
    overflow:hidden;
}
.ld-img img{
    width:100%;
}
.ld-imgactive{
    width:100%;height:0;
    text-align:center;line-height:66px;
    background:#000;
    background:rgba(0,0,0,0.65);
    filter:alpha(opacity=65);
    overflow:hidden;
    color:#fff;
    font-size:16px;
    position:absolute;
    left:0;bottom:0;
}
.ld-wenzi{
    width:248px;height:46px;
    padding:7px;
}
.ld-wenzi h4{
    width:100%;height:24px;
    line-height:24px;
    color:#222222;
    font-size:14px;
}
.ld-wzbtm{
    width:100%;height:22px;
    font-size:12px;
    color:#666666;
    line-height:22px;
}
.ld-load{float:left;}
.ld-renshu{float:right;}

