/* 
* @Author: Marte
* @Date:   2016-12-11 11:23:01
* @Last Modified by:   Marte
* @Last Modified time: 2016-12-14 20:16:16
*/
.items{
    width:auto;
    height:auto;
    padding:10px;
    margin-bottom:50px;
    overflow:hidden;
}
.items h2{
    float:left;
}
.left,dt{
    float:left;
    margin-left:10px;
    margin-top:2px;
}
.items h2,.items h2 a{
    font-size:20px;
    color:#01b5ff;
    text-decoration:underline;
}
dt a{
    font-size:16px;
    color:#000;
    text-decoration:underline;
    margin-left:20px;
    float:left;
}